<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alpha.city_guide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Common.LoginSignUp.ForgetPasswordSuccessMessage"></activity>
        <activity android:name=".Common.LoginSignUp.SetNewPassword" />
        <activity android:name=".Common.LoginSignUp.MakeSelection" />
        <activity android:name=".Common.LoginSignUp.ForgetPassword" />
        <activity android:name=".Common.LoginSignUp.VerifyOTP" />
        <activity android:name=".Common.LoginSignUp.SignUp3rdClass" />
        <activity android:name=".Common.LoginSignUp.Signup2nd_class" />
        <activity android:name=".Common.LoginSignUp.SignUp" />
        <activity android:name=".Common.LoginSignUp.LoginSelection" />
        <activity android:name=".Common.LoginSignUp.RetailerStartUpScreen" />
        <activity android:name=".User.AllCategories" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".User.UserDashBoard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>